@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>

<address>
    Andrea Calvo Moreno<br />
    .NET<br />
    Máster en Ingeniería Web<br />
    ETSISI - Universidad Politécnica de Madrid<br />
</address>

<address>
    <strong>Email</strong>   <a href="mailto:andrea.calvo@alumnos.es">andrea.calvo@alumnos.es</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/andrea-calvo-moreno-63a71b115/">Andrea Calvo Moreno</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/acalvom">acalvom</a>
</address>